* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input, select, button {
    outline: none;
}

.scrim {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .25)
}

.scrim--remove {
    display: none;
}

.loader {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader--remove {
    display: none;
}

.error {
    display: none;
    z-index: 10;
    position: absolute;
    width: 100%;
    max-width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error--show {
    display: block;
}

.error__message {
    height: 50px;
    overflow: auto;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.container {
    margin: auto;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

.select-wrapper {
    padding-top: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.weather-widget {
    position: relative;
    padding: 3.5rem 0 1.875rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-widget__city-name {
    position: absolute;
    top: 7px;
    background: rgba(255, 255, 255, .4);
    padding: 0.313rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #fff 10%, #5bdaff 50%, #191970 60%);
    background-size: 200% auto;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

.select-block {
    color: rgba(255, 255, 255, .8);
    max-width: 280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-block__item {
    border: 2px solid #d9d9d9;
    margin: 0.625rem 0;
    width: 200px;
    height: 40px;
    border-radius: .75rem;
    padding-left: .312rem;
    color: rgba(255, 255, 255, .8);
    font-size: 1rem;
    background: rgba(13, 71, 161, .7);
}

.select-block__label {
    font-size: 1.25rem;
    color: #0d47a1;
    font-weight: bold;
}


@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


@media(max-width: 767px) {
    .weather-widget__city-name {
        font-size: 1.7rem;
    }
}

@media(max-width: 575px) {

    .weather-widget__city-name {
        font-size: 1.375rem;
        max-width: 70%;
        text-align: center;
    }

    .select-block__item {
        width: 180px;
        height: 35px;
    }
}
